@page
@model Astaberry.Areas.Admin.Pages.CouponCodes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Coupon Code</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblCouponCode.Couponcode" class="control-label"></label>
                <input asp-for="TblCouponCode.Couponcode" class="form-control" />
                <span asp-validation-for="TblCouponCode.Couponcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCouponCode.Discount" class="control-label"></label>
                <input asp-for="TblCouponCode.Discount" class="form-control" />
                <span asp-validation-for="TblCouponCode.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCouponCode.Maxallowed" class="control-label"></label>
                <input asp-for="TblCouponCode.Maxallowed" class="form-control" />
                <span asp-validation-for="TblCouponCode.Maxallowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCouponCode.ApplicableFor" class="control-label"></label>
                <select class="form-control ApplicableFor" id="ApplicableFor" asp-for="TblCouponCode.ApplicableFor">
                    
                    <option value="Null">Select</option>
                    <option value="SubCategory">SubCategory</option>
                    <option value="Category">Category</option>
                    <option value="SkuCode">SkuCode</option>
                </select>
                
            </div>
            <div class="form-group">
                <label asp-for="TblCouponCode.Applicableon" class="control-label"></label>
                <select class="form-control" id="Applicableon" asp-for="TblCouponCode.Applicableon"></select>
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
   $(document).ready(function()
   {
         
    $("#ApplicableFor").change(function(){
         var applicable=$("#ApplicableFor").val();
       $("#Applicableon").empty();
     $.ajax({
                    type: "GET",
                    url: "/api/CouponCode",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    data: { selection: applicable },
                    success: function (response) {
                         console.log(response);
                       $.each(response, function (i, item) {
                           
                    var optionhtml = '<option value="' +
                    response[i].value + '">' +response[i].text + '</option>';
                    $("#Applicableon").append(optionhtml);
                });
            }
        })
     })
   });

        
        
        </script>



