@page
@model Astaberry.Areas.Admin.Pages.CouponCodes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Coupon Code</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblCouponCode.Id" />
            <div class="form-group">
                <label asp-for="TblCouponCode.Couponcode" class="control-label"></label>
                <input asp-for="TblCouponCode.Couponcode" class="form-control" />
                <span asp-validation-for="TblCouponCode.Couponcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCouponCode.Discount" class="control-label"></label>
                <input asp-for="TblCouponCode.Discount" class="form-control" />
                <span asp-validation-for="TblCouponCode.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCouponCode.Maxallowed" class="control-label"></label>
                <input asp-for="TblCouponCode.Maxallowed" class="form-control" />
                <span asp-validation-for="TblCouponCode.Maxallowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblCouponCode.ApplicableFor" class="control-label"></label>
                <input asp-for="TblCouponCode.ApplicableFor" class="form-control" />
                <span asp-validation-for="TblCouponCode.ApplicableFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
