@page
@model Astaberry.Areas.Admin.Pages.Banners.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Banners</h1>

<h3>Are you sure you want to delete this Banners?</h3>
<div>
    <table class="table">
        <tr>
            <td>
                <img src="~/img/slider/cosmetic/@Model.TblImageGallery.DesktopImageName" class="img-fluid" />
            </td>
            <td>
                <img src="~/img/slider/cosmetic/@Model.TblImageGallery.MobileImageName" class="img-fluid" />
            </td>
            <td>
                @Model.TblImageGallery.CategoryName
            </td>
            <td>
                @Model.TblImageGallery.SubCategoryName
            </td>
        </tr>
    </table>
    
    <form method="post">
        <input type="hidden" asp-for="TblImageGallery.Id" />
        <input type="hidden" asp-for="TblImageGallery.DesktopImageName" name="DesktopImageName" />
        <input type="hidden" asp-for="TblImageGallery.MobileImageName" name="MobileImageName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
