@page
@model Astaberry.Areas.Admin.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Order</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblOrderId.Id" />
            <div class="form-group">
                <label asp-for="TblOrderId.Orderid" class="control-label"></label>
                <input asp-for="TblOrderId.Orderid" class="form-control" />
                <span asp-validation-for="TblOrderId.Orderid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOrderId.Date" class="control-label"></label>
                <input asp-for="TblOrderId.Date" class="form-control" />
                <span asp-validation-for="TblOrderId.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOrderId.CouponCodeapplied" class="control-label"></label>
                <input asp-for="TblOrderId.CouponCodeapplied" class="form-control" />
                <span asp-validation-for="TblOrderId.CouponCodeapplied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOrderId.Emailid" class="control-label"></label>
                <input asp-for="TblOrderId.Emailid" class="form-control" />
                <span asp-validation-for="TblOrderId.Emailid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOrderId.Status" class="control-label"></label>
                <input asp-for="TblOrderId.Status" class="form-control" />
                <span asp-validation-for="TblOrderId.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblOrderId.PaymentFrom" class="control-label"></label>
                <input asp-for="TblOrderId.PaymentFrom" class="form-control" />
                <span asp-validation-for="TblOrderId.PaymentFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
