@page
@model Astaberry.Areas.Admin.Pages.Orders.ShipRocketModel
@{
}
<table>
    <tr>
        <td>
        </td>
    </tr>
</table>
<script src="~/js/vendor/jquery-3.3.1.min.js"></script>
<script>
    var settings = {
        "url": "https://apiv2.shiprocket.in/v1/external/orders/create/adhoc",
        "method": "POST",
        "timeout": 0,
        "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjExMTEyNDAsImlzcyI6Imh0dHBzOi8vYXBpdjIuc2hpcHJvY2tldC5pbi92MS9leHRlcm5hbC9hdXRoL2xvZ2luIiwiaWF0IjoxNjA5ODQ2MzI3LCJleHAiOjE2MTA3MTAzMjcsIm5iZiI6MTYwOTg0NjMyNywianRpIjoiOUVHYlpJcFBBZzR4M0h3RCJ9.oNIsV-fv3NGpJoMLCR75igfrrGKoQPMMffPvD7r8Gr0"
        },
        "data": JSON.stringify({ "order_id": "224-477", "order_date": "2019-07-24 11:11", "pickup_location": "Jammu", "channel_id": "105501", "comment": "Reseller: M/s Goku", "billing_customer_name": "Naruto", "billing_last_name": "Uzumaki", "billing_address": "House 221B, Leaf Village", "billing_address_2": "Near Hokage House", "billing_city": "New Delhi", "billing_pincode": "110002", "billing_state": "Delhi", "billing_country": "India", "billing_email": "naruto@uzumaki.com", "billing_phone": "9876543210", "shipping_is_billing": true, "shipping_customer_name": "", "shipping_last_name": "", "shipping_address": "", "shipping_address_2": "", "shipping_city": "", "shipping_pincode": "", "shipping_country": "", "shipping_state": "", "shipping_email": "", "shipping_phone": "", "order_items": [{ "name": "Kunai", "sku": "chakra123", "units": 10, "selling_price": "900", "discount": "", "tax": "", "hsn": 441122 }], "payment_method": "Prepaid", "shipping_charges": 0, "giftwrap_charges": 0, "transaction_charges": 0, "total_discount": 0, "sub_total": 9000, "length": 10, "breadth": 15, "height": 20, "weight": 2.5 }),
    };

    $.ajax(settings).done(function (response) {
        console.log(response);
    });
</script>