@page
@model Astaberry.Areas.Admin.Pages.Range.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Range</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblRange.Id" />
            <div class="form-group">
                <label asp-for="TblRange.Range" class="control-label"></label>
                <input asp-for="TblRange.Range" class="form-control" />
                <span asp-validation-for="TblRange.Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblRange.Image" class="control-label"></label>
                <input asp-for="TblRange.Image" class="form-control" />
                <span asp-validation-for="TblRange.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
