@page
@model Astaberry.Areas.Admin.Pages.Advertise.CreateModel
@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label"></label>
        <textarea id="editor" name="Blogdescription" >        
                                </textarea>
      
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <script>
        const config = {
            filebrowserImageBrowseUrl: "BlogImageBrowser",
            filebrowserImageWindowWidth: 750,
            filebrowserImageWindowHeight: 606,
            filebrowserBrowseUrl: "Bloglinkbrowser",
            filebrowserWindowWidth: 350,
            filebrowserWindowHeight: 500
        };
        const editor = document.getElementById("editor");
        CKEDITOR.replace(editor, config);
    </script>
}
