@page
@model Astaberry.Areas.Admin.Pages.StoreFinders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Store</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblStoreFinder.StoreId" />
            <div class="form-group">
                <label asp-for="TblStoreFinder.Stateid" class="control-label"></label>
                <select asp-for="TblStoreFinder.Stateid" asp-items="Model.Options" class="form-control"></select>
                <span asp-validation-for="TblStoreFinder.Stateid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblStoreFinder.City" class="control-label"></label>
                <input asp-for="TblStoreFinder.City" class="form-control" />
                <span asp-validation-for="TblStoreFinder.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblStoreFinder.Address" class="control-label"></label>
                <input asp-for="TblStoreFinder.Address" class="form-control" />
                <span asp-validation-for="TblStoreFinder.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblStoreFinder.StoreName" class="control-label"></label>
                <input asp-for="TblStoreFinder.StoreName" class="form-control" />
                <span asp-validation-for="TblStoreFinder.StoreName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
