@page
@model Astaberry.Areas.Admin.Pages.ProductByConcern.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Product By Concern</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblProductByConcern.SkuCode" class="control-label"></label>
                <input asp-for="TblProductByConcern.SkuCode" name="SkuCode" class="form-control" />
                <span asp-validation-for="TblProductByConcern.SkuCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                @for (var i = 0; i < Model.ConcernList.Count; i++)
                {
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input type="hidden" asp-for="@Model.ConcernList[i].Value" />
                            <input class="form-check-input" asp-for="@Model.ConcernList[i].Selected">@Model.ConcernList[i].Text
                            
                            
                        </label>
                    </div>
                }

                <span asp-validation-for="TblProductByConcern.ConcernId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
