@page
@model Astaberry.Areas.Admin.Pages.OtherBanners.EditModel
@{
}
<h1>Edit Other Banners</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OtherBanners.Id" />
            <div class="form-group">
                <label asp-for="OtherBanners.Name" class="control-label"></label>
                <input asp-for="OtherBanners.Name" class="form-control" type="file" id="file" name="Upload" />
                <span asp-validation-for="OtherBanners.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherBanners.Url" class="control-label"></label>
                <input asp-for="OtherBanners.Url" class="form-control" name="Url" />
                <span asp-validation-for="OtherBanners.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="Upload" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#file').on('change', function() {

            const size =
                (this.files[0].size/1024);

            if (size > 500) {
                alert("File must be less than 500kb");
                $("#Upload").hide();
            } else {
                $("#Upload").show();
            }
        });
    </script>
}