@page
@model Astaberry.Areas.Admin.Pages.ProductDetail.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Product Detail</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblProductDesc.Id" />
            <div class="form-group">
                <label asp-for="TblProductDesc.Skucode" class="control-label"></label>
                <input asp-for="TblProductDesc.Skucode" class="form-control" name="Skucode" />
                <span asp-validation-for="TblProductDesc.Skucode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.ProductName" class="control-label"></label>
                <input asp-for="TblProductDesc.ProductName" class="form-control" name="ProductName" />
                <span asp-validation-for="TblProductDesc.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.Categoryid" class="control-label"></label>
                <select asp-for="TblProductDesc.Categoryid" asp-items="Model.CategoryOptions" name="Categoryid" class="form-control"></select>
                <span asp-validation-for="TblProductDesc.Categoryid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.Subcategoryid" class="control-label"></label>
                <select asp-for="TblProductDesc.Subcategoryid" name="Subcategoryid" asp-items="Model.SubCategoryOptions" class="form-control"></select>
                <span asp-validation-for="TblProductDesc.Subcategoryid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.BrandId" class="control-label"></label>
                <select asp-for="TblProductDesc.BrandId" name="BrandId" asp-items="Model.BrandOptions" class="form-control"></select>
                <span asp-validation-for="TblProductDesc.BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.Range" class="control-label"></label>
                <select asp-for="TblProductDesc.Range" name="Range" asp-items="Model.RangeOptions" class="form-control">
                    <option value="0">Select</option>
                </select>
                <span asp-validation-for="TblProductDesc.Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.ShortDesc" class="control-label"></label>
                <input asp-for="TblProductDesc.ShortDesc" name="ShortDesc" class="form-control" />
                <span asp-validation-for="TblProductDesc.ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.LongDesc" class="control-label"></label>
                <textarea id="editor" asp-for="TblProductDesc.LongDesc" class="form-control" name="LongDesc">        
                </textarea>
                <span asp-validation-for="TblProductDesc.LongDesc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TblProductDesc.SkinType" class="control-label"></label>
                <select asp-for="TblProductDesc.SkinType" name="SkinType" asp-items="Model.SkinType" class="form-control"></select>
                <span asp-validation-for="TblProductDesc.SkinType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.Metakeyword" class="control-label"></label>
                <input asp-for="TblProductDesc.Metakeyword" name="Metakeyword" class="form-control" />
                <span asp-validation-for="TblProductDesc.Metakeyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.MetaDescription" class="control-label"></label>
                <input asp-for="TblProductDesc.MetaDescription" name="MetaDescription" class="form-control" />
                <span asp-validation-for="TblProductDesc.MetaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.Gst" class="control-label"></label>
                <input asp-for="TblProductDesc.Gst" name="Gst" class="form-control" />
                <span asp-validation-for="TblProductDesc.Gst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.CustomeUrl" class="control-label"></label>
                <input asp-for="TblProductDesc.CustomeUrl" name="CustomeUrl" class="form-control" placeholder="Add (-) between two words" />
                <span asp-validation-for="TblProductDesc.CustomeUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblProductDesc.GroupName" class="control-label"></label>
                <input name="GroupName" asp-for="TblProductDesc.GroupName"class="form-control" placeholder="Group Name" />
                <span asp-validation-for="TblProductDesc.GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <script>
        const config = {
            filebrowserImageBrowseUrl: "ProductImageBrowser",
            filebrowserImageWindowWidth: 750,
            filebrowserImageWindowHeight: 606,
            filebrowserBrowseUrl: "Productlinkbrowser",
            filebrowserWindowWidth: 350,
            filebrowserWindowHeight: 500
        };
        const editor = document.getElementById("editor");
        const editorhowtouse = document.getElementById("HowToUse");
        CKEDITOR.replace(editor, config);
        CKEDITOR.replace(editorhowtouse, config);
    </script>
}
